*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-main);
  color: var(--primary-font-color);
  font-size: var(--spacing-base);
  background-color: var(--background-color);
}

ul {
  list-style: none;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 100rem;
  width: 100%;
  margin: 0 auto;
}

.btn-cta {
  padding: var(--spacing-sm) var(--spacing-base);
  border-radius: var(--spacing-xs);
  box-shadow: inset 0 0 0 0.1rem var(--primary-color);

  transition: var(--transition);
}

.section-title {
  font-size: var(--spacing-xxl);
  margin-bottom: var(--spacing-md);
  color: var(--secondary-color);
}
