.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-bottom-separator);

    padding: var(--spacing-md) 0;
    padding-bottom: 0;
  }

  .logo-wrapper {
    width: var(--spacing-5xl);
    height: var(--spacing-3xl);
    overflow: hidden;
  }

  .logo-wrapper img {
    width: 100%;
    height: 100%;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-6xl);

    flex-grow: 1;
    padding: var(--spacing-base);
    height: max-content;

    .nav-list,
    .auth-wrapper {
      display: flex;
      justify-content: space-around;
      gap: var(--spacing-base);

      height: max-content;
    }

    .btn-cta {
      padding: var(--spacing-sm) var(--spacing-base);
      border-radius: var(--spacing-xs);
      color: var(--quaternary-color);
      background-color: var(--primary-color);

      transition: var(--transition);
    }

    a.btn-cta:hover {
      color: var(--primary-color);
      background-color: var(--quaternary-color);
    }

    :where(.login, .register) {
      color: var(--tertiary-font-color);
    }

    .login:hover,
    .register:hover,
    .nav-list a:hover {
      color: var(--primary-color);
    }
  }
}
