.header {
  padding: var(--spacing-lg-md) 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrapper {
    width: var(--spacing-4xl);
    height: var(--spacing-4xl);
    overflow: hidden;
  }

  .logo-wrapper img {
    width: 100%;
    height: 100%;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-list {
      display: flex;
      align-items: center;

      .nav-item {
        color: #333;
      }

      .login,
      .register {
        color: var(--tertiary-font-color);
        font-weight: var(--font-weight-regular);
      }
    }
  }
}

/* ******************************************************* */
.hero {
  border-bottom: var(--border-bottom-separator-2);
  .container {
    height: 100vh;
    max-height: 98.4rem;
    display: flex;
    align-items: center;

    .hero-content {
      display: flex;
      justify-content: space-between;
      gap: 13.6rem;

      .hero-left {
        flex: 0 1 64.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: var(--spacing-4xl, 5.6rem);

        .hero-text {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-lg);

          .hero-title {
            font-size: var(--spacing-6xl, 7.2rem);
            font-weight: var(--font-weight-semi-bold, 600);
            line-height: var(--spacing-8xl, 8.4rem);
            margin-bottom: var(--spacing-md);
            color: var(--primary-font-color, #132238);
          }

          .hero-subtitle {
            font-size: var(--spacing-md, 1.8rem);
            line-height: var(--spacing-lg, 2.4rem);

            .strong {
              color: var(--primary-font-color, #142339);
              font-weight: var(--font-weight-regular, 400);
              position: relative;

              &::after {
                content: '';
                position: absolute;
                bottom: 0.2rem;
                left: 0;
                width: 100%;
                height: var(--spacing-2xs, 0.4rem);
                background-color: var(--primary-color-300, #8fcaea);
                opacity: 0.6;
              }
            }
          }

          .hero-cta {
            display: flex;
            gap: var(--spacing-base);

            .btn-cta {
              font-weight: var(--font-weight-semi-bold, 600);
            }
          }
        }

        .hero-socials {
          display: flex;
          gap: 0.3rem;
          width: 100%;
          font-size: var(--spacing-md-sm, 1.6rem);
          border: 0.1rem solid var(--white, #fff);
          border-radius: var(--spacing-2xs, 0.4rem);
          overflow: hidden;

          .social-wrapper {
            flex: 1 1 auto;

            .social-link {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: var(--spacing-xs, 0.8rem);
              background: var(--primary-color-200-05, #badff280);
              padding: var(--spacing-md, 1.8rem) 0;
              transition: var(--transition-all);

              &:hover {
                background: var(--primary-color-200, #badff2);
                transform: scale(0.95);
              }

              &:hover .social-title,
              &:hover .icon {
                transform: scale(1.1);
              }

              .icon {
                transition: var(--transition-all);
              }

              .social-title {
                line-height: 2.4rem;
                color: var(--Gray-500, #697484);
                transition: var(--transition-all);
              }
            }
          }
        }
      }

      .hero-right {
        flex: 0 1 53.6rem;
        display: flex;
        justify-content: center;
        border-radius: 2.5rem;
        box-shadow: 0rem 2.4rem 11.6rem 0rem rgba(43, 56, 76, 0.09);

        .img-wrapper {
          width: 90%;
        }
      }
    }
  }
}

/* ******************************************************* */
.about {
  border-bottom: var(--border-bottom-separator-2);
  .container {
    padding: var(--spacing-6xl) 0;
    .about-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .about-left {
        max-width: 40rem;
        height: 28rem;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        overflow: hidden;
      }

      .about-right {
        max-width: 50%;
        .about-title {
        }

        .about-text {
          text-align: justify;
          line-height: 1.5;

          .strong {
            font-weight: var(--font-weight-bold);
          }
        }

        .view-more {
        }
      }
    }
  }
}

.tech-stack {
  .container {
    padding: var(--spacing-6xl) 0;

    .section-title {
    }

    .tech-title {
    }

    .tech-content {
      .main-logos,
      .secondary-logos {
        .logos-title {
          color: var(--secondary-color);
          margin-bottom: var(--spacing-sm);
        }

        .logos-subtitle {
          color: var(--tertiary-font-color);
          font-style: italic;
          margin-bottom: var(--spacing-xxl);

          strong {
            font-weight: var(--font-weight-bold);
          }
        }

        .logos-wrapper {
          display: grid;
          grid-template-columns: repeat(auto-fill, var(--spacing-5xl));
          gap: var(--spacing-xl);

          .tech-logo-wrapper {
            transition: var(--transition);

            &:hover {
              transform: scale(1.1);
            }

            .tech-logo {
              height: var(--spacing-5xl);
              margin-bottom: var(--spacing-xs);
            }

            .logo-name {
              text-align: center;
            }
          }
        }
      }

      .main-logos {
        margin-bottom: var(--spacing-xxl);
        padding-bottom: var(--spacing-xxl);
        border-bottom: var(--border-bottom-separator);
      }
    }
  }
}
