:root {
  /* Primary Palette */
  --primary-color-50: hsl(201, 69%, 94%);
  --primary-color-100: hsl(201, 69%, 89%);
  --primary-color-200: hsl(201, 69%, 84%);
  --primary-color-200-05: hsl(201, 69%, 84%, 0.5);
  --primary-color-300: hsl(201, 69%, 74%);
  --primary-color-400: hsl(201, 69%, 64%);
  --primary-color-500: hsl(201, 69%, 54%);
  --primary-color-600: hsl(201, 69%, 44%);
  --primary-color-700: hsl(201, 69%, 34%);
  --primary-color-800: hsl(201, 69%, 24%);
  --primary-color-900: hsl(201, 69%, 14%);

  --secondary-color-900: #053742;
  --tertiary-color: #a3dcfa;

  /* Neutrals */
  --black: #000000;
  --white: #ffffff;
  --light-gray: #dadce0;
  --Gray-50: #f0f1f3;
  --Gray-100: #e6e8eb;
  --Gray-200: #c3c7ce;
  --Gray-300: #a5acb5;
  --Gray-300-2: #b8bcc2;
  --Gray-400: #87909d;
  --Gray-500: #697484;
  --Gray-600: #556070;
  --Gray-700: #424e60;
  --Gray-800: #2b384c;
  --Gray-900: #132238;

  /* Typography */
  --font-main: 'Work Sans', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  /* Font Palette */
  --primary-font-color: var(--Gray-900);
  --secondary-font-color: var(--Gray-600);
  --tertiary-font-color: var(--Gray-400);

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* Spacing */
  --spacing-2xs: 0.4rem;
  --spacing-xs: 0.8rem;
  --spacing-sm: 1.4rem;
  --spacing-md-sm: 1.6rem;
  --spacing-md: 1.8rem;
  --spacing-lg-md: 2rem;
  --spacing-lg: 2.4rem;
  --spacing-xl: 3.2rem;
  --spacing-2xl: 4rem;
  --spacing-3xl: 4.8rem;
  --spacing-4xl: 5.6rem;
  --spacing-5xl: 6.4rem;
  --spacing-6xl: 7.2rem;
  --spacing-7xl: 8rem;
  --spacing-8xl: 8.4rem;
  --spacing-9xl: 8.8rem;
  --spacing-10xl: 9.6rem;

  /* box shadow */
  --box-shadow-1: 0 0 0.3rem #0003;

  /* Border */
  --border-bottom-separator: 0.1rem solid var(--light-gray);
  --border-bottom-separator-2: 0.1rem solid var(--tertiary-color);

  /* Transition */
  --transition-all: all 0.3s ease-in-out;

  /* Reusable properties */
  --p-btn: 1.2rem 2.4rem;
}
