:root {
  /* Primary Palette */
  --primary-color: #39a2db;
  --secondary-color: #053742;
  --tertiary-color: #a2dbfa;
  --quaternary-color: #e8f0f2;
  --background-color: #eeeeee;

  /* Font Palette */
  --primary-font-color: #333333;
  --secondary-font-color: #555;
  --tertiary-font-color: #777;

  /* Font Weight */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;

  /* Neutrals */
  --white: #ffffff;
  --black: #000000;
  --light-gray: #dadce0;
  --dark-gray: #333333;

  /* box shadow */
  --box-shadow-1: 0 0 0.3rem #0003;

  /* Border */
  --border-bottom-separator: 0.1rem solid var(--light-gray);

  /* Alerts */
  --success-color: #27ae60;
  --warning-color: #f1c40f;
  --error-color: #e74c3c;

  /* Typography */
  --font-main: 'Roboto', sans-serif;

  /* Spacing */
  --spacing-xs: 0.4rem;
  --spacing-sm: 0.8rem;
  --spacing-base: 1.6rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 3.2rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 4.8rem;
  --spacing-3xl: 5.6rem;
  --spacing-4xl: 6.4rem;
  --spacing-5xl: 7.2rem;
  --spacing-6xl: 8rem;
  --spacing-7xl: 8.8rem;
  --spacing-8xl: 9.6rem;

  /* Transition */
  --transition: all 0.3s ease-in-out;
}
