.header {
  padding: var(--spacing-lg-md) 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-wrapper {
    width: var(--spacing-4xl);
    height: var(--spacing-4xl);
    overflow: hidden;

    .logo-link {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .logo-wrapper img {
    width: 100%;
    height: 100%;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-list {
      display: flex;
      align-items: center;

      .nav-item {
        color: #333;
      }

      .login,
      .register {
        color: var(--tertiary-font-color);
        font-weight: var(--font-weight-regular);
      }
    }
  }
}

/* ******************************************************* */
.hero {
  .container {
    height: 100vh;
    max-height: 98.4rem;
    display: flex;
    align-items: center;

    .hero-content {
      display: flex;
      justify-content: space-between;
      gap: 13.6rem;

      .hero-left {
        flex: 0 1 64.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: var(--spacing-4xl, 5.6rem);

        .hero-text {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-lg);

          .hero-title {
            font-size: var(--spacing-6xl, 7.2rem);
            font-weight: var(--font-weight-semi-bold, 600);
            line-height: var(--spacing-8xl, 8.4rem);
            margin-bottom: var(--spacing-md);
            color: var(--primary-font-color, #132238);
          }

          .hero-subtitle {
            font-size: var(--spacing-md, 1.8rem);
            line-height: var(--spacing-lg, 2.4rem);

            .strong {
              color: var(--primary-font-color, #142339);
              font-weight: var(--font-weight-regular, 400);
              position: relative;

              &::after {
                content: '';
                position: absolute;
                bottom: 0.2rem;
                left: 0;
                width: 100%;
                height: var(--spacing-2xs, 0.4rem);
                background-color: var(--primary-color-300, #8fcaea);
                opacity: 0.6;
              }
            }
          }

          .hero-cta {
            display: flex;
            gap: var(--spacing-base);

            .btn-cta {
              font-weight: var(--font-weight-semi-bold, 600);
            }
          }
        }

        .hero-socials {
          display: flex;
          gap: 0.3rem;
          width: 100%;
          font-size: var(--spacing-md-sm, 1.6rem);
          border: 0.1rem solid var(--white, #fff);
          border-radius: var(--spacing-2xs, 0.4rem);
          overflow: hidden;

          .social-wrapper {
            flex: 1 1 auto;

            .social-link {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: var(--spacing-xs, 0.8rem);
              background: var(--primary-color-200-05, #badff280);
              padding: var(--spacing-md, 1.8rem) 0;
              transition: var(--transition-all);

              &:hover {
                background: var(--primary-color-200, #badff2);
                transform: translateY(0.5rem);
              }

              .icon {
                transition: var(--transition-all);
              }

              .social-title {
                line-height: 2.4rem;
                color: var(--Gray-500, #697484);
                transition: var(--transition-all);
              }
            }
          }
        }
      }

      .hero-right {
        flex: 0 1 53.6rem;
        display: flex;
        justify-content: center;
        border-radius: 2.5rem;
        box-shadow: 0rem 2.4rem 11.6rem 0rem rgba(43, 56, 76, 0.09);

        .img-wrapper {
          width: 100%;
        }
      }
    }
  }
}

/* ******************************************************* */
.about {
  height: 62rem;
  position: relative;

  .container {
    max-width: 132rem;
    padding: 11.2rem;
    background-color: var(--white, #fff);
    border-radius: var(--spacing-md-sm, 1.6rem);
    box-shadow: 0rem 3.6rem 10.5rem 0rem rgba(43, 56, 76, 0.1);

    .about-content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .about-left {
        flex: 0 1 42.4rem;
        max-height: 50.4rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-wrapper {
          display: flex;
          justify-content: center;
          width: 100%;
          height: 46.8rem;
          background: var(--Gray-50, #f0f1f3);
          border-radius: 1rem;
          border: 0.1rem solid var(--Gray-50, #f0f1f3);

          img {
            width: 90%;
          }
        }

        .socials-bar {
          display: flex;
          padding: var(--spacing-xs, 0.8rem);
          width: max-content;
          transform: translateY(-50%);
          border-radius: var(--spacing-2xs, 0.4rem);
          background: var(----white, #fff);
          box-shadow: 0rem 1.2rem 6.4rem 0rem rgba(28, 25, 25, 0.12);

          .social-link {
            padding: var(--spacing-md-sm, 1.6rem);
            border-radius: var(--spacing-2xs, 0.4rem);

            .icon {
              font-size: var(--spacing-md, 1.8rem);
              width: var(--spacing-md, 1.8rem);
              height: var(--spacing-md, 1.8rem);
              line-height: var(--spacing-md, 1.8rem);
              color: var(--primary-color-500, #39a2db);
            }

            &:hover {
              background: var(--primary-color-500, #39a2db);
              color: var(--white, #fff);
            }

            &:hover .icon {
              color: var(--white, #fff);
            }
          }
        }
      }

      .about-right {
        flex: 0 1 53.6rem;

        .about-text {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-md-sm, 1.6rem);

          .about-title {
            color: var(--primary-font-color, #132238);
            font-size: 3.8rem;
            font-weight: var(--font-weight-semi-bold, 600);
            line-height: 5rem;
          }

          .subtitle-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md-sm, 1.6rem);
            color: var(--Gray-600, #556070);
            line-height: var(--spacing-lg, 2.4rem);

            .about-subtitle {
            }
          }

          .about-cta {
            display: flex;
            gap: var(--spacing-md-sm, 1.6rem);

            .btn-download {
              background: transparent;
              color: var(--primary-color-500, #39a2db);
              border: 0.1rem solid var(--primary-color-500, #39a2db);

              &:hover {
                color: var(--primary-color-600, #2387be);
                border-color: var(--primary-color-600, #2387be);
              }
            }
          }
        }
      }
    }
  }
}

/* ******************************************************* */
.experience {
  --container-padding: 24.8rem 0 15rem;
  --exp-left-flex: 0 0 52.9rem;
  --exp-right-flex: 0 1 64.8rem;
  --exp-content-display: flex;
  --exp-content-justify: space-between;
  --exp-left-font-size: var(--spacing-md, 1.8rem);
  --exp-left-line-height: var(--spacing-lg, 2.4rem);
  --exp-detail-padding: 0 0 0 var(--spacing-md-sm, 1.6rem);
  --detail-section-text-padding: 0 0 0 var(--spacing-md-sm, 1.6rem);
  --see-more-margin: var(--exp-detail-padding);
  --card-padding: var(--spacing-xl, 3.2rem);
  --card-top-display: flex;
  --card-top-align-items: center;
  --card-top-gap: var(--spacing-md, 1.8rem);
  --card-title-font-size: var(--spacing-lg, 2.4rem);
  --card-title-line-height: 100%;
  --card-title-weight: var(--font-weight-semi-bold, 600);
  --card-job-desc-font-size: var(--spacing-md-sm, 1.6rem);
  --card-job-desc-line-height: var(--spacing-lg, 2.4rem);
  --logo-height: var(--spacing-5xl, 6.4rem);
  --logo-width: var(--spacing-5xl, 6.4rem);

  background-color: var(--Gray-50, #f0f1f3);

  .container {
    padding: var(--container-padding);

    .experience-content {
      display: var(--exp-content-display, flex);
      justify-content: var(--exp-content-justify, space-between);

      .experience-left {
        flex: var(--exp-left-flex);
        font-size: var(--exp-left-font-size);
        line-height: var(--exp-left-line-height);

        .experience-title {
          margin-bottom: var(--spacing-lg, 2.4rem);
        }

        .experience-detail {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-md-sm, 1.6rem);
          padding: var(--exp-detail-padding);
          margin-bottom: var(--spacing-3xl, 4.8rem);

          .job-title {
            font-weight: var(--font-weight-semi-bold, 600);
            color: var(--secondary-font-color, #556070);
            font-size: var(--spacing-lg-md, 2rem);
          }

          section {
            ul {
              display: flex;
              flex-direction: column;
              gap: var(--spacing-xs, 0.8rem);
            }

            h4,
            h5,
            h6 {
              font-size: var(--spacing-md-sm, 1.6rem);
              font-weight: var(--font-weight-semi-bold, 600);
            }

            strong {
              font-weight: var(--font-weight-semi-bold, 600);
            }
          }
        }

        .see-more {
          width: max-content;
          margin: var(--see-more-margin);
        }
      }

      .experience-right {
        flex: var(--exp-right-flex);

        .experience-cards {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-lg, 2.4rem);

          .active-card {
            box-shadow: 0rem 3.2rem 9.6rem 0rem rgba(28, 25, 25, 0.16);
            position: relative;

            .rectangle {
              width: 0.5rem;
              height: 100%;
              background-color: var(--primary-color-500);
              position: absolute;
              left: 0;
              top: 0;
            }
          }

          .experience-card {
            flex: 0 0 auto;
            border-radius: var(--spacing-xs, 0.8rem);
            padding: var(--card-padding);
            background-color: var(--white, #fff);
            cursor: pointer;
            overflow: hidden;

            .job-info,
            .card-bottom {
              color: var(--Gray-700, #424e60);
              font-family: var(--font-secondary, 'Poppins', sans-serif);
              font-size: var(--card-job-desc-font-size);
              line-height: var(--card-job-desc-line-height);
            }

            .card-top {
              margin-bottom: 2rem;
              display: var(--card-top-display);
              align-items: var(--card-top-align-items);
              gap: var(--card-top-gap);
              overflow: hidden;

              .company-logo {
                height: var(--logo-height);
                width: var(--logo-width);
                border-radius: 9999px;
                overflow: hidden;
                box-shadow: 0rem 0.2rem 0.8rem rgba(28, 25, 25, 0.16);
              }

              .job-info {
                .job-title {
                  color: var(--Gray-900, #132238);
                  font-size: var(--card-title-font-size);
                  font-weight: var(--card-title-weight);
                  line-height: var(--card-title-line-height);
                }
              }
            }

            .card-bottom {
              .responsibilities-title {
                color: var(--Gray-900, #132238);
                font-size: var(--card-job-desc-font-size);
                font-weight: var(--font-weight-semi-bold, 600);
              }
            }
          }
        }
      }
    }
  }
}

/* ******************************************************* */
.portfolio {
  --container-padding: 10rem 0;

  --section-title-margin: 0 0 var(--spacing-lg, 2.4rem);
  --section-subtitle-max-w: 57.7rem;
  --section-subtitle-margin: 0 auto var(--spacing-6xl, 7.2rem);

  /* Cards */
  --cards-display: flex;
  --cards-flex-wrap: wrap;
  --cards-gap: var(--spacing-lg, 2.4rem);
  --cards-margin: 0 0 var(--spacing-3xl, 4.8rem);

  /* Card */
  --card-flex: 0 0 42.4rem;
  --card-padding: 0 0 var(--spacing-xl, 3.2rem);
  --card-border: 0.1rem solid var(--Gray-100, #e6e8eb);
  --card-border-radius: var(--spacing-xs, 0.8rem);

  --card-img-w: 100%;
  --card-img-h: 24.8rem;

  --card-content-max-w: 36rem;
  --card-content-height: 100%;
  --card-content-display: flex;
  --card-content-gap: var(--spacing-lg-md, 2rem);
  --card-content-justify: space-between;
  --card-content-flex-dir: column;

  --card-subtitle-font-size: 1.2rem;
  --card-subtitle-font-weight: var(--font-weight-medium, 500);
  --card-subtitle-line-height: var(--spacing-md-sm, 1.6rem);
  --card-subtitle-margin: 0 0 var(--spacing-2xs, 0.4rem);

  --card-title-font-size: var(--spacing-md, 1.8rem);
  --card-title-font-weight: var(--font-weight-semi-bold, 600);
  --card-title-line-height: var(--spacing-lg, 2.4rem);
  --card-title-margin: 0 0 var(--spacing-sm, 1.4rem);

  --card-text-font-size: var(--spacing-sm, 1.4rem);
  --card-text-line-height: var(--spacing-lg-md, 2rem);

  --card-btns-display: flex;
  --card-btns-gap: var(--spacing-xs, 0.8rem);

  /* Hover card */
  --card-hover-shadow: 0rem 1.2rem 6.4rem 0rem rgba(28, 25, 25, 0.12);

  .container {
    padding: var(--container-padding);

    .portfolio-heading {
      text-align: center;
      .portfolio-title {
        margin: var(--section-title-margin);
      }

      .portfolio-subtitle {
        max-width: var(--section-subtitle-max-w);
        margin: var(--section-subtitle-margin);
      }
    }
    .portfolio-content {
      .portfolio-cards {
        display: var(--cards-display);
        flex-wrap: var(--cards-flex-wrap);
        gap: var(--cards-gap);
        margin: var(--cards-margin);

        .portfolio-card {
          flex: var(--card-flex);
          padding: var(--card-padding);
          overflow: hidden;
          border-radius: var(--card-border-radius);
          border: var(--card-border);
          background: var(--white, #fff);
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 3.2rem;
          transition: var(--transition-all);

          &:hover {
            box-shadow: var(--card-hover-shadow);
          }

          .card-img {
            width: var(--card-img-w);
            height: var(--card-img-h);
            overflow: hidden;
            flex-shrink: 0;
          }

          &:hover .card-img img {
            transition: var(--transition-all);
            transform: scale(1.1);
          }

          .card-content {
            max-width: var(--card-content-max-w);
            height: var(--card-content-height);
            display: var(--card-content-display);
            flex-direction: var(--card-content-flex-dir);
            justify-content: var(--card-content-justify);
            gap: var(--card-content-gap);

            .card-subtitle {
              color: var(--tertiary-font-color, #87909d);
              font-size: var(--card-subtitle-font-size);
              font-weight: var(--card-subtitle-font-weight);
              line-height: var(--card-subtitle-line-height);
              margin: var(--card-subtitle-margin);
            }

            .card-title {
              color: var(--primary-font-color, #132238);
              font-size: var(--card-title-font-size);
              font-weight: var(--card-title-font-weight);
              line-height: var(--card-title-line-height);
              margin: var(--card-title-margin);
            }

            .card-text {
              color: var(--secondary-font-color, #556070);
              font-size: var(--card-text-font-size);
              line-height: var(--card-text-line-height);
            }

            .card-btns {
              display: var(--card-btns-display);
              gap: var(--card-btns-gap);

              .card-btn {
                border: 1px solid var(--primary-color-500, #39a2db);
                background: var(--white, #fff);
                color: var(--primary-color-500, #39a2db);

                &:hover {
                  border-color: var(--primary-color-600, #2387be);
                  color: var(--primary-color-600, #2387be);
                }

                .live-icon {
                  display: inline-block;
                  width: 1.2rem;
                  height: 1.2rem;
                  position: relative;
                  border-radius: 50%;

                  &::before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 250%;
                    height: 250%;
                    box-sizing: border-box;
                    margin-left: -75%;
                    margin-top: -75%;
                    border-radius: 45px;
                    background-color: #e03131;
                    animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1)
                      infinite;
                  }

                  &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #e03131;
                    border-radius: 50px;
                    animation: circle 1.25s
                      cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
                  }
                }
              }
            }
          }
        }
      }
      .btn-wrapper {
        display: flex;
        justify-content: center;
      }
    }
  }
}

/* ******************************************************* */
.tech-stack {
  --container-padding: 10rem 0;
  --tech-title-margin: 0 0 var(--spacing-xl, 3.2rem);
  --main-logos-margin: 0 0 var(--spacing-xxl, 4.8rem);
  --logos-title-margin: 0 0 var(--spacing-lg, 2.4rem);
  --logos-subtitle-margin: 0 0 var(--spacing-sm, 1.4rem);
  --logos-wrapper-display: flex;
  --logos-wrapper-flex-wrap: wrap;
  --logos-wrapper-gap: var(--spacing-xl, 3.2rem);
  --logo-wrapper-flex: 0 0 var(--spacing-10xl, 9.6rem);
  --logo-wrapper-display: flex;
  --logo-wrapper-flex-dir: column;
  --logo-wrapper-align-items: center;
  --logo-wrapper-gap: var(--spacing-xs, 0.8rem);
  --logo-width: var(--spacing-4xl, 5.6rem);
  --logo-height: var(--spacing-4xl, 5.6rem);
  --logo-margin: 0 0 var(--spacing-xs, 0.8rem);

  background-color: var(--Gray-900, #132238);
  .container {
    padding: var(--container-padding);

    .tech-title {
      color: var(--white, #fff);
      margin: var(--tech-title-margin);
    }

    .tech-content {
      .main-logos,
      .secondary-logos {
        .logos-subtitle {
          color: var(--quaternary-font-color);
          margin: var(--logos-subtitle-margin);
          font-style: italic;

          strong {
            font-weight: var(--font-weight-semi-bold, 600);
          }
        }

        .logos-wrapper {
          display: var(--logos-wrapper-display);
          flex-wrap: var(--logos-wrapper-flex-wrap);
          gap: var(--logos-wrapper-gap);

          .tech-logo-wrapper {
            flex: var(--logo-wrapper-flex);
            display: var(--logo-wrapper-display);
            flex-direction: var(--logo-wrapper-flex-dir);
            align-items: var(--logo-wrapper-align-items);
            gap: var(--logo-wrapper-gap);
            transition: var(--transition-all);

            &:hover {
              transform: scale(1.1);
            }

            .tech-logo {
              width: var(--logo-width);
              height: var(--logo-height);
              margin-bottom: var(--logo-margin);
            }

            .logo-name {
              text-align: center;
            }
          }
        }
      }

      .main-logos {
        margin: var(--main-logos-margin);
      }
    }
  }
}

/* ******************************************************* */
.blog {
  --container-padding: 10rem 0;

  --section-heading-margin: 0 0 var(--spacing-6xl, 7.2rem);
  --section-title-margin: 0 0 var(--spacing-lg, 2.4rem);
  --section-subtitle-max-w: 57.7rem;
  --section-subtitle-margin: 0 auto var(--spacing-6xl, 7.2rem);

  /* Cards */
  --cards-display: flex;
  --cards-gap: var(--spacing-lg, 2.4rem);

  /* Card */
  --card-flex: 0 0 31.2rem;
  --card-padding: 0 0 var(--spacing-lg, 2.4rem);
  --card-display: flex;
  --card-flex-dir: column;
  --card-gap: var(--spacing-lg, 2.4rem);
  --card-align-items: center;
  --card-border-radius: var(--spacing-xs, 0.8rem);
  --card-img-w: 100%;
  --card-img-h: 22.6rem;
  --card-content-max-w: 26.4rem;
  --card-meta-font-size: var(--spacing-sm, 1.4rem);
  --card-meta-line-height: var(--spacing-lg-md, 2rem);
  --card-meta-margin: 0 0 var(--spacing-xs, 0.8rem);
  --card-title-font-size: var(--spacing-md, 1.8rem);
  --card-title-font-weight: var(--font-weight-medium, 500);
  --card-title-line-height: var(--spacing-lg, 2.4rem);

  .container {
    padding: var(--container-padding);

    .blog-heading {
      text-align: center;
      margin: var(--section-heading-margin);

      .blog-title {
        margin: var(--section-title-margin);
      }

      .blog-subtitle {
        max-width: var(--section-subtitle-max-w);
        margin: var(--section-subtitle-margin);
      }
    }
    .blog-content {
      .blog-cards {
        display: var(--cards-display);
        gap: var(--cards-gap);

        .card-wrapper-link {
          flex: var(--card-flex);

          .blog-card {
            padding: var(--card-padding);
            display: var(--card-display);
            flex-direction: var(--card-flex-dir);
            gap: var(--card-gap);
            align-items: var(--card-align-items);
            border-radius: var(--card-border-radius);
            background: var(--white, #fff);
            overflow: hidden;
            border: 0.1rem solid var(--Gray-50, #f0f1f3);
            transition: var(--transition-all);

            &:hover {
              box-shadow: 0rem 1.2rem 6.4rem 0rem rgba(28, 25, 25, 0.12);
            }

            .card-img {
              width: var(--card-img-w);
              height: var(--card-img-h);
              overflow: hidden;
              flex-shrink: 0;

              img {
                transition: var(--transition-all);
              }

              &:hover img {
                transform: scale(1.1);
              }
            }
            .card-content {
              max-width: var(--card-content-max-w);

              .card-meta {
                color: var(--tertiary-font-color, #87909d);
                font-size: var(--card-meta-font-size);
                line-height: var(--card-meta-line-height);
                margin: var(--card-meta-margin);
              }

              .card-title {
                color: var(--primary-font-color, #132238);
                font-size: var(--card-title-font-size);
                font-weight: var(--card-title-font-weight);
                line-height: var(--card-title-line-height);
              }
            }
          }
        }
      }
    }
  }
}

/* ******************************************************* */
.edu {
  --container-padding: 24.8rem 0 15rem;
  --edu-right-flex: 0 0 52.9rem;
  --edu-left-flex: 0 1 64.8rem;
  --edu-content-display: flex;
  --edu-content-justify: space-between;
  --edu-right-font-size: var(--spacing-md, 1.8rem);
  --edu-right-line-height: var(--spacing-lg, 2.4rem);
  --edu-details-padding: 0 0 0 var(--spacing-md-sm, 1.6rem);
  --details-section-text-padding: 0 0 0 var(--spacing-md-sm, 1.6rem);
  --see-more-margin: var(--exp-detail-padding);
  --card-padding: var(--spacing-xl, 3.2rem);
  --card-content-display: flex;
  --card-content-align-items: center;
  --card-content-gap: var(--spacing-md, 1.8rem);
  --card-title-font-size: var(--spacing-lg, 2.4rem);
  --card-title-line-height: 100%;
  --card-title-weight: var(--font-weight-semi-bold, 600);
  --program-info-font-size: var(--spacing-md-sm, 1.6rem);
  --logo-height: var(--spacing-5xl, 6.4rem);
  --logo-width: var(--spacing-5xl, 6.4rem);

  background-color: var(--Gray-50, #f0f1f3);

  .container {
    padding: var(--container-padding);

    .edu-content {
      display: var(--edu-content-display, flex);
      justify-content: var(--edu-content-justify, space-between);

      .edu-left {
        flex: var(--edu-left-flex);

        .edu-cards {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-lg, 2.4rem);

          .active-card {
            box-shadow: 0rem 3.2rem 9.6rem 0rem rgba(28, 25, 25, 0.16);
            position: relative;

            .rectangle {
              width: 0.5rem;
              height: 100%;
              background-color: var(--primary-color-500);
              position: absolute;
              left: 0;
              top: 0;
            }
          }

          .edu-card {
            flex: 0 0 auto;
            border-radius: var(--spacing-xs, 0.8rem);
            padding: var(--card-padding);
            background-color: var(--white, #fff);
            overflow: hidden;
            cursor: pointer;

            .card-content {
              display: var(--card-content-display);
              align-items: var(--card-content-align-items);
              gap: var(--card-content-gap);
              overflow: hidden;

              .organization-logo {
                height: var(--logo-height);
                width: var(--logo-width);
                flex-shrink: 0;
                overflow: hidden;
              }

              .program-info {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xs, 0.8rem);
                font-size: var(--program-info-font-size);
                color: var(--Gray-700, #424e60);

                .program-title {
                  color: var(--Gray-900, #132238);
                  font-size: var(--card-title-font-size);
                  font-weight: var(--card-title-weight);
                  line-height: var(--card-title-line-height);
                  margin-bottom: var(--spacing-2xs, 0.4rem);
                }

                .organization-name,
                .date-range,
                .gpa {
                  font-family: var(--font-secondary, 'Poppins', sans-serif);
                }
              }
            }
          }
        }
      }

      .edu-right {
        border-radius: var(--spacing-xs, 0.8rem);
        flex: var(--edu-right-flex);
        font-size: var(--edu-right-font-size);
        line-height: var(--edu-right-line-height);

        .edu-title {
          margin-bottom: var(--spacing-lg, 2.4rem);
        }

        .edu-details {
          display: flex;
          flex-direction: column;
          gap: var(--spacing-md-sm, 1.6rem);
          padding: var(--edu-details-padding);
          margin-bottom: var(--spacing-3xl, 4.8rem);

          .program-header {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-xs, 0.8rem);

            .program-title a,
            .organization-name a {
              color: var(--secondary-font-color, #556070);
              text-decoration: underline;
              font-weight: var(--font-weight-semi-bold, 600);
              font-size: var(--spacing-lg-md, 2rem);

              &:hover {
                color: var(--primary-color-500);
              }
            }

            .organization-name a {
              font-size: var(--spacing-md, 1.8rem);
            }
          }

          .edu-details-section {
            color: var(--secondary-font-color, #556070);

            .learn-more:visited,
            .learn-more:link,
            .learn-more:active {
              display: block;
              width: max-content;
              color: var(--primary-color-500);
              text-decoration: underline;

              &:hover {
                color: var(--primary-color-600);
              }
            }

            .edu-details-title {
              font-weight: var(--font-weight-semi-bold, 600);
              font-size: var(--spacing-md-sm, 1.6rem);
            }
          }
        }
      }
    }
  }
}

/* ******************************************************* */
.contact {
  --section-height: 66rem;
  --section-padding: 8.8rem 0 0;

  --container-padding: 8.8rem;
  --container-radius: var(--spacing-md-sm, 1.6rem);
  --content-display: flex;
  --content-justify: space-between;

  --contact-left-flex: 0 1 48.1rem;
  --contact-left-display: flex;
  --contact-left-flex-dir: column;
  --contact-left-gap: var(--spacing-xl, 3.2rem);

  --contact-right-flex: 0 1 56rem;
  --contact-right-padding: var(--spacing-lg) 0;

  /* contact header */
  --contact-title-font-size: 3.8rem;
  --contact-title-font-weight: 600;
  --contact-title-line-height: 5rem;
  --contact-title-margin: 0 0 var(--spacing-md-sm, 1.6rem);

  /* social iconS */
  --socials-display: flex;
  --socials-flex-dir: column;
  --socials-gap: var(--spacing-sm, 1.4rem);

  /* social link */
  --social-link-padding: var(--spacing-lg, 2.4rem);
  --social-link-display: flex;
  --social-link-gap: var(--spacing-sm, 1.4rem);
  --social-link-radius: 1rem;

  /* social icon */
  --icon-wrapper-padding: 1.2rem;
  --icon-wrapper-display: flex;
  --icon-wrapper-align-items: center;
  --icon-wrapper-justify-content: center;
  --icon-wrapper-radius: var(--spacing-2xs, 0.4rem);
  --icon-font-size: var(--spacing-lg, 2.4rem);
  --icon-line-height: var(--spacing-lg, 2.4rem);
  --icon-height: var(--spacing-lg, 2.4rem);
  --icon-width: var(--spacing-lg, 2.4rem);

  /* social info */
  --social-info-display: flex;
  --social-info-flex-dir: column;
  --social-info-gap: var(--spacing-2xs, 0.4rem);
  --social-label-font-size: var(--spacing-sm, 1.4rem);
  --social-label-line-height: var(--spacing-lg-md, 2rem);
  --social-username-font-size: var(--spacing-md-sm, 1.6rem);
  --social-username-font-weight: var(--font-weight-medium, 500);
  --social-username-line-height: var(--spacing-lg, 2.4rem);

  /* form */
  --form-desc-margin: 0 0 var(--spacing-3xl, 4.8rem);
  --form-control-margin: 0 0 var(--spacing-lg, 2.4rem);
  --form-control-line-height: var(--spacing-sm, 1.4rem);

  --form-label-line-height: var(--spacing-lg, 2.4rem);
  --form-label-display: flex;
  --form-label-align-items: center;

  --form-input-width: 100%;
  --form-input-font-family: var(--font-main, 'Work Sans', sans-serif);
  --form-input-font-size: var(--spacing-md, 1.8rem);
  --form-input-border-bottom: 0.15rem solid var(--Gray-100, #e6e8eb);
  --form-input-height: var(--spacing-sm, 1.4rem);
  --form-input-padding: 0 1.2rem 0;

  --form-btn-margin: var(--spacing-3xl, 4.8rem) 0 0;

  height: var(--section-height, 66rem);
  padding: var(--section-padding, 8.8rem 0 0);
  position: relative;

  .container {
    background-color: var(--white, #fff);
    padding: var(--container-padding);
    border-radius: var(--container-radius);
    box-shadow: 0rem 5.9rem 12.4rem 0rem rgba(0, 0, 0, 0.12);

    .contact-content {
      display: var(--content-display);
      justify-content: var(--content-justify);

      .contact-left {
        flex: var(--contact-left-flex);
        display: var(--contact-left-display);
        flex-direction: var(--contact-left-flex-dir);
        gap: var(--contact-left-gap);

        .contact-header {
          .contact-title {
            font-size: var(--contact-title-font-size);
            font-weight: var(--contact-title-font-weight);
            line-height: var(--contact-title-line-height);
            margin: var(--contact-title-margin);
          }
        }

        .socials {
          display: var(--socials-display);
          flex-direction: var(--socials-flex-dir);
          gap: var(--socials-gap);

          .social-link {
            padding: var(--social-link-padding);
            display: var(--social-link-display);
            gap: var(--social-link-gap);
            border-radius: var(--social-link-radius);

            .icon-wrapper {
              padding: var(--icon-wrapper-padding);
              display: var(--icon-wrapper-display);
              align-items: var(--icon-wrapper-align-items);
              justify-content: var(--icon-wrapper-justify-content);
              background-color: var(--primary-color-200-05, #badff280);
              border-radius: var(--icon-wrapper-radius);
              transition: var(--transition-all);

              .icon {
                font-size: var(--icon-font-size);
                line-height: var(--icon-line-height);
                height: var(--icon-height);
                width: var(--icon-width);
                color: var(--primary-color-500, #39a2db);
              }
            }

            .social-info {
              display: var(--social-info-display);
              flex-direction: var(--social-info-flex-dir);
              gap: var(--social-info-gap);

              .social-label {
                color: var(--Gray-700, #424e60);
                font-size: var(--social-label-font-size);
                line-height: var(--social-label-line-height);
              }

              .social-username {
                color: var(--primary-font-color, #132238);
                font-size: var(--social-username-font-size);
                font-weight: var(--social-username-font-weight);
                line-height: var(--social-username-line-height);
              }
            }

            &:hover {
              box-shadow: 0rem 1.2rem 6.4rem 0rem rgba(28, 25, 25, 0.12);

              .icon-wrapper {
                background-color: var(--primary-color-500, #39a2db);

                .icon {
                  color: var(--white, #fff);
                }
              }
            }
          }
        }
      }

      .contact-right {
        flex: var(--contact-right-flex);
        padding: var(--contact-right-padding);

        .form-description {
          margin: var(--form-desc-margin);
        }

        .contact-form {
          .form-control {
            margin: var(--form-control-margin);
            line-height: var(--form-control-line-height);

            .form-label {
              display: var(--form-label-display);
              align-items: var(--form-label-align-items);
              line-height: var(--form-label-line-height);
            }

            .form-input {
              font-family: var(--form-input-font-family);
              width: var(--form-input-width);
              font-size: var(--form-input-font-size);
              border-bottom: var(--form-input-border-bottom);
              height: var(--form-input-height);
              line-height: var(--spacing-lg-md, 2rem);
              padding: var(--form-input-padding);
              transition: var(--transition-all);

              &::placeholder {
                opacity: 0;
                color: var(--Gray-300, #c5ccd6);
              }

              &:focus::placeholder {
                opacity: 1;
              }

              &:focus,
              &:not(:placeholder-shown) {
                --form-input-height: var(--spacing-4xl, 5.6rem);
                --form-input-padding: 1.2rem;
              }
            }

            &:focus-within .form-label {
              color: var(--primary-color-500, #39a2db);
            }

            &:focus-within .form-input {
              --form-input-border-bottom: 0.2rem solid
                var(--primary-color-500, #39a2db);
              /* resize: vertical; */
            }
          }

          .form-btn {
            margin: var(--form-btn-margin);
          }
        }
      }
    }
  }
}

/* ******************************************************* */
.footer {
  --footer-min-h: 33rem;
  --footer-display: flex;
  --footer-align-items: center;

  --container-padding: var(--spacing-xl, 3.2rem) 0;

  --footer-content-display: flex;
  --footer-content-justify: space-between;
  --footer-content-gap: var(--spacing-xl, 3.2rem);

  --logo-width: var(--spacing-4xl, 5.6rem);
  --logo-height: var(--spacing-4xl, 5.6rem);

  --navbar-display: flex;
  --navbar-align-items: center;

  --nav-list-display: flex;
  --nav-list-align-items: center;
  --nav-list-gap: var(--spacing-lg, 2.4rem);
  --nav-link-font-size: var(--spacing-md-sm, 1.6rem);
  --nav-link-line-height: var(--spacing-lg, 2.4rem);

  --copy-display: flex;
  --copy-align-items: center;
  --copy-font-size: var(--spacing-md-sm, 1.6rem);
  --copy-line-height: var(--spacing-lg, 2.4rem);

  min-height: var(--footer-min-h, 33rem);
  display: var(--footer-display);
  align-items: var(--footer-align-items);
  background-color: var(--Gray-900, #132238);

  .container {
    padding: var(--container-padding);

    .footer-content {
      display: var(--footer-content-display);
      justify-content: var(--footer-content-justify);
      gap: var(--footer-content-gap);

      .footer-logo {
        width: var(--logo-width);
        height: var(--logo-height);

        .footer-logo-link {
          display: inline-block;
          width: 100%;
          height: 100%;
        }
      }

      .footer-navbar {
        display: var(--navbar-display);
        align-items: var(--navbar-align-items);

        .footer-nav-list {
          display: var(--nav-list-display);
          align-items: var(--nav-list-align-items);
          gap: var(--nav-list-gap);

          .footer-nav-link {
            font-size: var(--nav-link-font-size);
            line-height: var(--nav-link-line-height);
            color: var(--Gray-50, #f0f1f3);

            &:hover {
              color: var(--primary-color-500, #39a2db);
            }
          }
        }
      }

      .copyrights {
        display: var(--copy-display);
        align-items: var(--copy-align-items);
        color: var(--Gray-50, #f0f1f3);
        font-size: var(--copy-font-size);
        line-height: var(--copy-line-height);
      }
    }
  }
}
